body {
  background-color: #ffffff;
}

.product {
  img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }
}

.header {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.banner {
  img {
    width: 100%;
    height: 36rem;
    object-position: 50% 50%;
  }
}

.banner-img-container {
  transition: opacity 500ms linear 0s;
}

.banner-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__title {
    line-height: 1.2;
    max-width: 254px;
  }
  &__description {
    margin-top: 10px;
    padding-bottom: 40px;
  }
  &__link {
    padding-top: 20px;
    border-top: 1px solid #ccc;
  }
}

.banner-img {
  position: relative;
  height: 36rem;
}

.slider-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  padding: 10px 20px;
  font-size: 24px;
}

.products .product-description {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.categories,
.cart,
.checkout {
  min-height: 400px;
}

.cart-products,
.checkout-cart {
  th,
  td {
    padding: 10px 0;
  }
  tr {
    border-bottom: 1px solid #ccc;
  }
}

.woo-next-cart-total-container {
  max-height: 200px;
  height: 100%;
}

.woo-next-checkout-form {
  label {
    display: block;
  }
}

.woo-next-cart-qty {
  input {
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 4px;
  }
}

.star {
  color: #ff9933;
  cursor: pointer;
}

.loader {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loader circle {
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
